
h2 {
    margin-bottom: 16px;
    font-size: 14px;
  }
  
  .student-card {
    margin: 20px 10px 10px 0px;
  }
  
  .outer-paper {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 80%;
  }

  .createStudent {
    margin: 10px;
    margin-bottom: 30px;
}

#myProgress {
  width: 100%;
  background-color: rgb(246, 245, 245);
  overflow: hidden;
}

#myBar {
  width: 70%;
  height: 30px;
  background-color: #4CAF50;
  float: left;
  text-align: center;
  line-height: 30px; 
  color: white; 
}

#mySecBar {
  width: 70%;
  height: 30px;
  float: left;
  background-color: rgb(255, 217, 0); 
  text-align: center;
  line-height: 30px; 
  color: white; 
}

#myThirdBar {
  width: 50%;
  height: 30px;
  float: left;
  background-color: rgb(255, 0, 0); 
  text-align: center;
  line-height: 30px; 
  color: white; 
}

.ask-question {
  margin: 20px 10px 10px 0px;
  float: right;
}