
h2 {
    margin-bottom: 16px;
    font-size: 14px;
  }
  
.batch-card {
    margin: 20px 10px 10px 0px;
}
  
.outer-paper {
    margin: auto;
    margin-top: 20px; 
    padding: 20px;
    width: 60%;
    align-content: center
}

  