.outer-paper {
    margin: center;
    margin-top: 20px;
    padding: 80px;
    width: 80%;
  }

.batch-card {
  margin: 50px 10px 10px 0px;
}


/* .style {
  height: 200;
  width: 300;
  margin-top: auto;
  text-align: center;
  display: inline-block;
}; */

.login-paper {
  margin-top: 100px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 90px; 
};
